main {
    justify-content: center;
    color: white;
    flex-grow: 1;
}

.headline{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #C9A84C;
}

.linha-horizontal {
  border-bottom: 1px solid #C9A84C; 
  margin: 30px 0;                
  width: 6%;
  gap: 30px;        
}

.title{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sub-title{
    display: flex;
    justify-content: center;
    font-size: larger;
    color: gray;
}