@import url('https://googleapis.com');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
    font-family: Inter;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px;
    font-family: DM Serif Display;
}

h1{
    font-size: large;
}

header p{
    display: flex;
    gap: 50px;
}

header a{
    text-decoration: none;
    color: rgb(154, 154, 154);
}

header a:hover{
    cursor: pointer;
    color: white;
}

header button{
    font-size: smaller;
    padding: 9px;
    width: 80px;
    color: white;
    background-color: transparent;
    border-radius: 6px;
    border:thin solid rgba(82, 82, 82, 0.9);

}

header button:hover{
    background-color: rgba(128, 128, 128, 0.437);
    cursor: pointer;
}

.agend-buttons{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.agend-buttons button{
    border-radius: 9px;
    border: 0.1 solid;
    padding: 9px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border:thin solid rgba(82, 82, 82, 0.9);
}

.agend-buttons button:hover{
    background-color: rgba(128, 128, 128, 0.437);
    cursor: pointer;
}

.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.image{
    font-size: x-large;
}

.button-services{
    font-size: medium;
    text-align: start;
    gap: 80px;
    color: white;
    padding: 15px;
    background-color: transparent;
    border-radius: 9px;
    width: 13%;
    transition: transform 0.3s ease;
    border:thin solid rgba(82, 82, 82, 0.9);
}

.button-services:hover{
    cursor: pointer;
    border:thin solid #c9a84c;
    transform: translate(0px, -10px);
}

.service-money{
    color: #C9A84C;
}

.service-min{
    color: gray;
}

hr{
    border:thin solid rgba(255, 255, 255, 0.1);
}

footer{
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: small;
}
